<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
  <div class="container"><br />

    <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
      Welcome </h6>

    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/users}">Users</a></li>
          <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
          <li class="breadcrumb-item"><a th:href="@{/account/{id}(id = ${account.id})}" th:text="${account.name}">Accounts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Account Users</li>
        </ol>
      </nav>

      <div>
        <a class="btn btn-danger btn-sm shadow-sm" th:href="@{/logout}">logout</a>
      </div>
    </div>

    <h5 class="text-center" th:text="${account.name + ' Users'}"> Account </h5><br />

    <div class="alert alert-danger" th:if="${fail}" th:text="${fail}">Fail</div>
    <div class="alert alert-success" th:if="${success}" th:text="${success}">Success</div>

    <div class="card mb-3">
      <div class="card-header">
        <button type="button" class="btn btn-primary btn-sm shadow-sm" data-bs-toggle="modal"
          data-bs-target="#addAccountUserModal">
          Add User
        </button>
      </div>
      <div class="card-body">
        <th:block th:if="${accountUsers.isEmpty()}">
          <div style="text-align: center;" class="p-3">
            No user
          </div>
        </th:block>
        <th:block th:unless="${accountUsers.isEmpty()}">
          <table class="table mb-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Id Number</th>
                <th scope="col">Phone Number</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="user, iter : ${accountUsers}">
                <th scope="row" th:text="${iter.count}">1</th>
                <td th:text="${user.firstName + ' ' + user.secondName + ' ' + user.thirdName}">Name</td>
                <td th:text="${user.idNumber}">id number</td>
                <td th:text="${user.phoneNumber}">phone number</td>
                <th><a class="btn btn-primary btn-sm shadow-sm"
                    th:href="@{/user/profile/{idNumber}(idNumber = ${user.idNumber})}">Edit</a>
                </th>
                <th><a class="btn btn-danger btn-sm shadow-sm"
                    th:href="@{/accounts/{id}/users/{idNumber}(id = ${account.id}, idNumber = ${user.idNumber})}">Delete</a>
                </th>
              </tr>
            </tbody>
          </table>
        </th:block>
      </div>
    </div>

  </div>

  <!-- Modal -->

  <!-- Adding User to Account Modal -->
  <div class="modal fade" id="addAccountUserModal" tabindex="-1" aria-labelledby="addAccountUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAccountUserModalLabel">Add Account User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addAccountUserForm" action="#" th:action="@{/account/{id}/users(id = ${account.id})}" method="post">
            <div class="alert alert-warning" role="alert"
              th:unless="${allUsersNotInAccount} and ${allUsersNotInAccount.size()}">
              All users have been added
            </div>
            <th:block th:each="user : ${allUsersNotInAccount}">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" th:name="${user.idNumber + 'Input'}"
                  th:value="${user.idNumber}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault"
                  th:text="${user.firstName + ' ' + user.thirdName + ' - ' + user.idNumber}">
                  Default checkbox
                </label>
              </div>
            </th:block>
            <br>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript">
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
  </script>
</body>

</html>