<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="background-color: #F6F4F2; color: #373833;">

  <div class="container"><br />

    <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
      Welcome </h6>

    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
          <li class="breadcrumb-item active" aria-current="page">users</li>
        </ol>
      </nav>

      <div>
        <a class="btn btn-danger btn-sm shadow rounded" th:href="@{/logout}">logout</a>
      </div>
    </div>

    <h4 class="text-center"> Users </h4>

    <div class="alert alert-danger" th:if="${fail}" th:text="${fail}">User exists</div>
    <div class="alert alert-success" th:if="${success}" th:text="${success}">User saved</div>

    <div class="card shadow rounded">
      <div class="card-header">
        <a th:href="@{/users/register}" class="btn btn-primary btn-sm shadow rounded">Add User</a>
      </div>
      <div class="card-body">
        <table class="table table-md">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Id Number</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Role</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <th:block th:if="${users.isEmpty()}">
              <div style="text-align: center;" class="p-3">
                No user
              </div>
            </th:block>
            <th:block th:unless="${users.isEmpty()}">
              <tr th:each="user, iter : ${users}">
                <th scope="row" th:text="${iter.count}">1</th>
                <td th:text="${user.firstName + ' ' + user.secondName + ' ' + user.thirdName}">Samuel Odhiambo Obunge
                </td>
                <td th:text="${user.idNumber}">32906735</td>
                <td th:text="${user.phoneNumber}">0707335375</td>
                <td th:text="${user.role}">Admin</td>
                <th><a class="btn btn-primary btn-sm shadow rounded"
                    th:href="@{/user/profile/{idNumber}(idNumber = ${user.idNumber})}">Edit</a>
                </th>
                <th><a class="btn btn-danger btn-sm shadow rounded"
                    th:href="@{/users/{idNumber}(idNumber = ${user.idNumber})}">Delete</a></th>
              </tr>
            </th:block>
          </tbody>
          <tfooter>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Id Number</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Role</th>
              <th></th>
              <th></th>
            </tr>
          </tfooter>
        </table>
      </div>
    </div>
  </div>

  <script th:src="@{webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>