<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="background-color: #F6F4F2; color: #373833;">

  <div class="container"><br />

    <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
      Welcome </h6>

    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
          <li class="breadcrumb-item"><a th:href="@{/tenants}">Tenants</a></li>
          <li class="breadcrumb-item active" aria-current="page">users</li>
        </ol>
      </nav>

      <div>
        <a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal" data-bs-target="#logoutModal">logout</a>
      </div>
    </div>

    <h4 class="text-center"> Users </h4>

    <!-- Error message fragment -->
    <div th:replace="~{fragments/user.html :: errorMessageFragment}"></div>

    <div class="card shadow rounded">
      <div class="card-header">
        <a th:href="@{/users/register}" class="btn btn-primary btn-sm shadow rounded">Add User</a>
      </div>
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Id Number</th>
                <th scope="col">Phone Number</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <th:block th:if="${users.isEmpty()}">
                <div style="text-align: center;" class="p-3 alert alert-warning">
                  No user registered
                </div>
              </th:block>
              <th:block th:unless="${users.isEmpty()}">
                <tr th:each="user, iter : ${users}">
                  <th scope="row" th:text="${iter.count}">1</th>
                  <td th:text="${user.firstName + ' ' + user.secondName + ' ' + user.thirdName}">Samuel Odhiambo Obunge
                  </td>
                  <td th:text="${user.idNumber}">32906735</td>
                  <td th:text="${user.phoneNumber}">0707335375</td>
                  <th><a class="btn btn-primary btn-sm shadow rounded"
                      th:href="@{/user/profile/{idNumber}(idNumber = ${user.idNumber})}">Edit</a>
                  </th>
                  <th><a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal" href="#"
                      data-bs-target="#removeUserModal"
                      th:data-href="@{/users/{idNumber}(idNumber = ${user.idNumber})}">Remove</a></th>
                </tr>
              </th:block>
            </tbody>
            <tfooter th:unless="${users.isEmpty()}">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Id Number</th>
                <th scope="col">Phone Number</th>
                <th></th>
                <th></th>
              </tr>
            </tfooter>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <!-- Logout Modal -->
  <div th:replace="~{fragments/user.html :: logoutModal}"></div>

  <!-- Delete a user model -->
  <div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeUserModalLabel">Remove User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-danger">All user details and information
            will be deleted and will not be recovered. Are you sure you want
            to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-success shadow rounded" data-bs-dismiss="modal">No! Don't Delete
            <i class="fas fa-fw fa-times"></i></button>
          <a class="btn btn-sm btn-danger shadow rounded ok-button">Yes! Delete <i
              class="fas fa-fw fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

  <script>
    $("#removeUserModal").on("show.bs.modal", function (e) {
      $(this)
        .find(".ok-button")
        .attr("href", $(e.relatedTarget).data("href"));
    });
  </script>

</body>

</html>