<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="background-color: #F6F4F2; color: #373833;">
    <div class="container"><br />

        <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
            Welcome </h6>

        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/users}">Users</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/account/{id}(id = ${account.id})}"
                            th:text="${account.name}">Accounts</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Account Transactions</li>
                </ol>
            </nav>

            <div>
                <a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal"
                    data-bs-target="#logoutModal">logout</a>
            </div>
        </div>

        <h5 class="text-center" th:text="${account.name + ' Transactions'}"> Account </h5><br />

        <!-- Error message fragment -->
        <div th:replace="~{fragments/user.html :: errorMessageFragment}"></div>

        <div class="card mb-3 shadow rounded">
            <div class="card-header">
                <button type="button" class="btn btn-primary btn-sm shadow rounded" data-bs-toggle="modal"
                    data-bs-target="#addTransactionModal">
                    Add Transaction
                </button>
            </div>
            <div class="card-body">
                <th:block th:if="${accountTransactions.isEmpty()}">
                    <div style="text-align: center;" class="p-3 alert alert-warning">
                        No transaction added
                    </div>
                </th:block>

                <div class="table-responsive-md">
                    <table class="table table-sm text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">By</th>
                                <th scope="col">Type</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <th:block th:unless="${accountTransactions.isEmpty()}">
                                <tr th:each="transaction, iter: ${accountTransactions}">
                                    <th scope="row" th:text="${iter.count}">1</th>
                                    <td scope="col"
                                        th:text="${transaction.user.firstName + ' ' + transaction.user.thirdName}">user
                                    </td>
                                    <th scope="col" th:text="${#strings.substring(transaction.type,0,1)}">Type </th>
                                    <td scope="col" th:text="${transaction.amount}">Amount</td>
                                    <td scope="col" th:text="${transaction.comment}">Comment</td>
                                    <td scope="col" th:text="${transaction.date}">Date</td>
                                    <td scope="col" th:text="${transaction.time}">Time</td>
                                    <th><button class="btn btn-primary btn-sm shadow rounded" data-bs-toggle="modal"
                                            th:data-bs-user="${transaction.user.firstName + ' ' + transaction.user.secondName}"
                                            th:data-bs-account-id="${account.id}"
                                            th:data-bs-transaction-id="${transaction.id}"
                                            th:data-bs-amount="${transaction.amount}"
                                            th:data-bs-type="${transaction.type}"
                                            th:data-bs-comment="${transaction.comment}"
                                            data-bs-target="#viewTransactionModalToggle">View</button>
                                    </th>
                                    <th><a class="btn btn-primary btn-sm shadow rounded"
                                            th:href="@{/accounts/{id}/transaction/{transactionId}(id = ${account.id}, transactionId = ${transaction.id})}">Edit</a>
                                    </th>
                                    <th><a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal" href="#"
                                            data-bs-target="#removeTransactionModal"
                                            th:data-href="@{/accounts/{id}/transactions/{transactionId}(id = ${account.id}, transactionId = ${transaction.id})}">Remove</a>
                                    </th>
                                </tr>
                            </th:block>
                        </tbody>
                        <tfooter th:unless="${accountTransactions.isEmpty()}">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">By</th>
                                <th scope="col">Type</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfooter>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->

    <!-- Adding Transaction Modal -->
    <div class="modal fade" id="addTransactionModal" tabindex="-1" aria-labelledby="addTransactionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTransactionModalLabel">Adding Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="g-3 needs-validation" id="addTransactionForm" action="#"
                        th:action="@{/accounts/{id}/transaction(id = ${account.id})}" th:object="${transaction}"
                        method="post" novalidate>
                        <input type="hidden" id="accountId" name="accountId">
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="dateInput" placeholder="date" th:field="*{date}"
                                required>
                            <label for="dateInput">Date</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide a date.</div>
                            <div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="userSelect" aria-label="Select user..." name="userSelect"
                                required>
                                <option selected value="">Select User.... </option>
                                <th:block th:each="user : ${accountUsers}">
                                    <option th:value="${user.idNumber}"
                                        th:text="${user.firstName + ' ' + user.thirdName + ' - ' + user.idNumber}">
                                        One</option>
                                </th:block>
                            </select>
                            <label for="floatingSelect">User</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide a user.</div>
                            <div class="text-danger" th:if="${#fields.hasErrors('user')}" th:errors="*{user}"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="typeSelect" aria-label="Select transaction type..."
                                name="typeSelect" th:field="*{type}" required>
                                <option selected value="">Select Transaction Type.... </option>
                                <th:block th:each="type : ${types}">
                                    <option th:value="${type}"
                                        th:text="${#strings.capitalize(#strings.toLowerCase(type.name))}">
                                        One</option>
                                </th:block>
                            </select>
                            <label for="floatingSelect">Transaction type</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide a type.</div>
                            <div class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="amountInput" placeholder="Amount"
                                th:field="*{amount}" min="1" required>
                            <label for="amountInput">Amount</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide an amount.</div>
                            <div class="text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Write transaction comment here"
                                id="commentTextArea" th:field="*{comment}" required></textarea>
                            <label for="commentTextArea">Comment</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide a comment.</div>
                            <div class="text-danger" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm shadow rounded" style="float: right;">Add
                            transaction</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- View Transaction Modal -->
    <div class="modal fade" id="viewTransactionModalToggle" aria-hidden="true"
        aria-labelledby="viewTransactionModalToggleLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="viewTransactionModalToggleLabel">Transaction</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="modal-user" readonly />
                            <label for="floatingSelect">Owner</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="modal-type" readonly />
                            <label for="floatingSelect">Transaction type</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="modal-amount" readonly />
                            <label for="amountInput">Amount</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="modal-comment" readonly></textarea>
                            <label for="commentTextArea">Comment</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-sm shadow rounded"> Edit Transaction </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div th:replace="~{fragments/user.html :: logoutModal}"></div>

    <!-- Delete Transaction -->
    <div class="modal fade" id="removeTransactionModal" tabindex="-1" aria-labelledby="removeTransactionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeTransactionModalLabel">Remove Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-danger">This transaction will be deleted completely. Do you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success shadow rounded" data-bs-dismiss="modal">No!
                        Don't Delete
                        <i class="fas fa-fw fa-times"></i></button>
                    <a class="btn btn-sm btn-danger shadow rounded ok-button">Yes! Delete <i
                            class="fas fa-fw fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript">
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();

        const viewTransactionModal = document.getElementById('viewTransactionModalToggle')
        if (viewTransactionModal) {
            viewTransactionModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                const user = button.getAttribute('data-bs-user');
                const type = button.getAttribute('data-bs-type');
                const amount = button.getAttribute('data-bs-amount');
                const comment = button.getAttribute('data-bs-comment');
                const accountId = button.getAttribute('data-bs-account-id');
                const transactionId = button.getAttribute('data-bs-transaction-id');

                // If necessary, you could initiate an Ajax request here
                // and then do the updating in a callback.

                // Update the modal's content.
                const modalUser = viewTransactionModal.querySelector('#modal-user');
                const modalType = viewTransactionModal.querySelector('#modal-type');
                const modalAmount = viewTransactionModal.querySelector('#modal-amount');
                const modalComment = viewTransactionModal.querySelector('#modal-comment');
                const editButton = viewTransactionModal.querySelector('.modal-footer a');

                editButton.href = "/accounts/" + accountId + "/transaction/" + transactionId;
                modalUser.value = user;
                modalType.value = type.charAt(0) + type.slice(1).toLowerCase();
                modalAmount.value = amount;
                modalComment.value = comment;

            })
        };

        $("#removeTransactionModal").on("show.bs.modal", function (e) {
            $(this)
                .find(".ok-button")
                .attr("href", $(e.relatedTarget).data("href"));
        });

        //Setting default value for date
        $(document).ready(function () {
            document.getElementById("dateInput").valueAsDate = new Date();
        });

    </script>
</body>

</html>