<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="background-color: #F6F4F2; color: #373833;">

    <div class="container"><br />

        <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
            Welcome </h6>

        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/users}">Users</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
                    <li class="breadcrumb-item active" aria-current="page" th:text="${account.name}">Account</li>
                </ol>
            </nav>

            <div>
                <a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal" data-bs-target="#logoutModal">logout</a>
            </div>
        </div>

        <div style="text-align: center;">
            <h4> Chama </h4>
            <h5 th:text="${'Year: ' + year + ', Month: ' + month}"> Year, month </h5>
            <br>
        </div>

        <div class="card mb-3 shadow rounded">
            <div class="card-body">
                <div class="table-responsive-lg">
                    <table class="table table-hover table-sm text-center" style="font-size: small;">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th:block th:each="day : ${#numbers.sequence(1, days)}">
                                    <th scope="col" th:text="${day}">day</th>
                                </th:block>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <th:block th:each="user : ${accountUsers}">
                                <th:block th:each="transaction : ${chamaTransaction}">
                                    <th:block th:if="${user.idNumber == transaction.key}">
                                        <th scope="row" th:text="${user.firstName + ' ' + user.thirdName}">1</th>
                                        <th:block th:each="trans : ${transaction.value}">
                                            <td th:text="${trans}"></td>
                                        </th:block>
                                        <th th:text="${#aggregates.sum(transaction.value)}"> 20000 </th>
                                    </th:block>
                                </th:block>
                                </tr>
                            </th:block>
                            <th>Total</th>
                            <th:block th:each="dailyTotal : ${dailyTotals}">
                                <th th:text="${dailyTotal}">200</th>
                            </th:block>
                            <th th:text="${#aggregates.sum(dailyTotals)}"> all </th>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->

    <!-- Delete Modal -->
    <div th:insert="fragments/user.html :: logoutModal"></div>

    <script th:src="@{webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
</body>

</html>