<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

    <!-- User role modal -->
    <th:block th:fragment="userRoleSelection">
        <div class="modal fade" id="userRoleModal" tabindex="-1" aria-labelledby="userRoleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userRoleModalLabel">Add User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="g-3 needs-validation" action="#" th:action="@{/users/role}" method="post"
                            novalidate>
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="selectRole" class="form-label">Select Role</label>
                                        <select class="form-select form-select-sm" name="role"
                                            aria-label=".form-select-sm roleModal" required>
                                            <option value="" selected>Select Role</option>
                                            <th:block th:each="role : ${roles}">
                                                <option th:value="${role}"
                                                    th:text="${#strings.capitalize(#strings.toLowerCase(role.name))}">
                                                    One</option>
                                            </th:block>
                                        </select>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please select a role.</div>
                                    </div>

                                    <button class="btn btn-sm btn-success shadow-sm">Select Role</button>

                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger shadow-sm"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="userForm">
        <div class="row">
            <div class="mb-2 col-md">
                <label for="firstNameInput" class="form-label">First Name</label>
                <input type="text" class="form-control form-control-sm" id="firstNameInput" th:field="*{firstName}"
                    required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide your firstname</div>
                <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>
            <div class="mb-2 col-md">
                <label for="secondNameInput" class="form-label">Second Name</label>
                <input type="text" class="form-control form-control-sm" id="secondNameInput" th:field="*{secondName}">
            </div>
            <div class="mb-2 col-md">
                <label for="thirdNameInput" class="form-label">Third Name</label>
                <input type="text" class="form-control form-control-sm" id="thirdNameInput" th:field="*{thirdName}"
                    required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please provide a your thirdname.</div>
                <div class="text-danger" th:if="${#fields.hasErrors('thirdName')}" th:errors="*{thirdName}"></div>
            </div>
        </div>
        <div class="mb-2 col">
            <label for="nicknameInput" class="form-label">Nickname</label>
            <input type="text" class="form-control form-control-sm" id="nicknameInput" th:field="*{nickname}" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide nickname.</div>
            <div class="text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
        </div>
        <div class="mb-2 col">
            <label for="phoneNumberInput" class="form-label">Phone Number</label>
            <input type="number" class="form-control form-control-sm" id="phoneNumberInput" th:field="*{phoneNumber}"
                min=100000000 required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid phone number.</div>
            <div class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>
        <div class="mb-2 col">
            <label for="idNumberInput" class="form-label">Id Number</label>
            <input type="number" class="form-control form-control-sm" id="idNumberInput" th:field="*{idNumber}"
                min=1000000 required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide a valid id number.</div>
            <div class="text-danger" th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"></div>
        </div>
        <div class="mb-2">
            <label for="roleInput" class="form-label">Role</label>
            <div class="form-control form-control-sm">
                <th:block th:each="role : ${roles}">
                    <div class="btn-group btn-group-sm me-2" role="group"
                        aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" th:id="${role}" th:name="${role.role + 'Input'}" onchange="roleToggle()" autocomplete="off">
                        <label class="btn btn-outline-secondary" th:for="${role}" th:text="${role.role}">Checkbox
                            1</label>
                    </div>
                </th:block>
            </div>
            <!--
                <div class="form-control form-control-sm">
                <th:block th:if="${newUser.roles.get(0).role == 'Admin'}">
                    <div class="btn-group btn-group-sm me-2" role="group"
                        aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" th:id="${newUser.roles.get(0).role}" checked
                            autocomplete="off" disabled>
                        <label class="btn btn-outline-secondary" th:for="${newUser.roles.get(0).role}"
                            th:text="${newUser.roles.get(0).role}">Checkbox
                            1</label>
                    </div>
                </th:block>
                <th:block th:each="role : ${roles}">
                    <th:block th:if="${role == newUser.roles.get(0)}">
                        <div class="btn-group btn-group-sm me-2" role="group"
                            aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" class="btn-check" th:id="${role}" th:name="${role.role + 'Input'}" checked autocomplete="off"
                                disabled>
                            <label class="btn btn-outline-secondary" th:for="${role}" th:text="${role.role}">Checkbox
                                1</label>
                        </div>
                    </th:block>
                    <th:block th:unless="${role == newUser.roles.get(0) || role.role == 'Admin'}">
                        <th:block
                            th:if="${(newUser.roles.get(0).role == 'Landlord' && role.role != 'Tenant') || 
                        (newUser.roles.get(0).role == 'Tenant' && role.role != 'Landlord') || (newUser.roles.get(0).role == 'User')}">
                            <div class="btn-group btn-group-sm me-2" role="group"
                                aria-label="Basic checkbox toggle button group">
                                <input type="checkbox" class="btn-check" th:id="${role}" th:name = "${role.role + 'Input'}" autocomplete="off">
                                <label class="btn btn-outline-secondary" th:for="${role}"
                                    th:text="${role.role}">Checkbox
                                    1</label>
                            </div>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
            -->
        </div>
    </th:block>

    <div th:fragment="logoutModal">
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-secondary shadow-sm" type="button" data-bs-dismiss="modal"><i
                                class="fa fa-times fs-sm" aria-hidden="true"></i> Cancel</button>

                        <a class="btn btn-sm btn-danger shadow-sm" href="/logout"><i class="fa fa-sign-out-alt fs-sm"
                                aria-hidden="true"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="errorMessageFragment" style="font-size: medium;">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${fail}">
            <span th:text="${fail}">Fail</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
            <span th:text="${success}">Success</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
    </div>

    <script th:src="@{webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    <script th:fragment="needsValidation">
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();

        function roleToggle(){

            const adminInput = document.getElementById("ADMIN");
            const landlordInput = document.getElementById("LandlordInput");
            const tenantInput = document.getElementById("TenantInput")
            const userInput = document.getElementById("UserInput");

            if(adminInput.checked == true){
                alert("Admin Checked")
            }else if(landlordInput.checked == true){
                alert("Landlord Checked")
            }else if (tenantInput.checked == true) {
                alert("Tenant Checked")
            } else if(userInput.checked == true){
                alert("User Checked")
            }

        }
    </script>

</body>

</html>