<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body style="background-color: #F6F4F2; color: #373833;">
  <div class="container"><br />

    <h2 class="text-center"> Login </h2><br />

    <div class="card  shadow-lg p-3 mb-3 bg-white rounded mx-auto d-block" style="width: 24rem;">
      <div class="card-body">
        <div style="font-size: smaller;">
          <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
            Incorrect username or password.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
          </div>
          <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.logout}">
            You have been logged out successfully.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
          </div>
        </div>
        <form method="post" th:action="@{/login}">
          <div class="mb-3">
            <label for="idNumberInput" class="form-label">Id Number</label>
            <input type="number" class="form-control" id="idNumberInput" name="username"
              aria-describedby="idNumberHelp">
            <div id="idNumberHelp" class="form-text">We'll never share your id number with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="passwordInput" name="password" />
              <span class="input-group-text"> <i class="bi bi-eye-slash" id="togglePassword"></i> </span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-sm shadow-sm"> Login</button>
        </form>
      </div>
    </div>
  </div>

  <script th:src="@{webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

</body>

</html>