<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="background-color: #F6F4F2; color: #373833;">

  <div class="container"><br />

    <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
      Welcome </h6>

    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/users}">Users</a></li>
          <li class="breadcrumb-item"><a href="#" data-bs-toggle="modal" data-bs-target="#chamaModal">Chama</a></li>
          <li class="breadcrumb-item active" aria-current="page">Accounts</li>
        </ol>
      </nav>

      <div>
        <a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal" data-bs-target="#logoutModal">logout</a>
      </div>
    </div>

    <h4 class="text-center"> Accounts </h4>

    <!-- Error message fragment -->
    <div th:replace="~{fragments/user.html :: errorMessageFragment}"></div>

    <div class="card shadow rounded">
      <div class="card-header">
        <button type="button" class="btn btn-primary btn-sm shadow rounded" data-bs-toggle="modal"
          data-bs-target="#addAccountModal">
          Add Account
        </button>
      </div>
      <div class="card-body">
        <div class="table-responsive-md">
          <table class="table table-sm text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Balance</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <th:block th:if="${accounts.isEmpty()}">
                <div style="text-align: center;" class="p-3 alert alert-warning">
                  No account added
                </div>
              </th:block>
              <th:block th:unless="${accounts.isEmpty()}">
                <tr th:each="account, iter : ${accounts}">
                  <th scope="row" th:text="${iter.count}">1</th>
                  <td th:text="${account.name}">Account name</td>
                  <td th:text="${account.description}">Description</td>
                  <td th:text="${account.balance}">Balance</td>
                  <th><a class="btn btn-primary btn-sm shadow rounded"
                      th:href="@{/account/{id}(id = ${account.id})}">View</a></th>
                  <th><button class="btn btn-primary btn-sm shadow rounded" data-bs-toggle="modal"
                      data-bs-target="#editAccountModal" th:data-bs-name="${account.name}"
                      th:data-bs-description="${account.description}" th:data-bs-id="${account.id}">Edit</button></th>
                  <th><a class="btn btn-danger btn-sm shadow rounded" data-bs-toggle="modal" href="#"
                      data-bs-target="#removeAccountModal"
                      th:data-href="@{/accounts/{id}(id = ${account.id})}">Remove</a></th>
                </tr>
              </th:block>
            </tbody>
            <tfooter th:unless="${accounts.isEmpty()}">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Balance</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfooter>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <!-- Add Account Modal -->
  <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAccountModalLabel">Add Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="g-3 needs-validation" action="#" th:action="@{/account/create}" th:object="${account}"
            method="post" novalidate>
            <div class="form-floating mb-3">
              <input type="text" class="form-control form-control-sm" id="nameInput" placeholder="Account Name"
                th:field="*{name}" required>
              <label for="nameInput">Account Name</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide an account name</div>
              <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control form-control-sm" placeholder="Write Account Description here"
                id="descriptionTextArea" th:field="*{description}" required></textarea>
              <label for="descriptionTextArea">Description</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide an account description.</div>
              <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <button type="submit" class="btn btn-success btn-sm shadow rounded" style="float: right;">Add
              Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Editing Account Modal -->
  <div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAccountModalLabel">Edit Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="g-3 needs-validation" id="editAccountForm" action="#" th:action="@{/accounts/update}"
            th:object="${account}" method="post" novalidate>
            <input type="hidden" id="accountId" name="accountId">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nameInput" placeholder="Account Name" th:field="*{name}"
                required>
              <label for="nameInput">Account Name</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide an account name</div>
              <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Write Account Description here" id="descriptionTextArea"
                th:field="*{description}" required></textarea>
              <label for="descriptionTextArea">Description</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please provide an account description</div>
              <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <button type="submit" class="btn btn-success btn-sm shadow-sm" style="float: right;">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Getting Chama page Modal -->
  <div class="modal fade" id="chamaModal" tabindex="-1" aria-labelledby="chamaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chamaModalLabel">Select period</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="g-3 needs-validation" action="#" th:action="@{/accounts/chama}" method="post" novalidate>
            <div class="form-floating mb-3">
              <select class="form-select" name="monthInput" id="monthInput" required>
                <option selected disabled value="">Select month...</option>
                <th:block th:each="month : ${months}">
                  <option th:text="${#strings.capitalize(#strings.toLowerCase(month))}"></option>
                </th:block>
              </select>
              <label for="monthInput">Month</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please select a month.</div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" name="yearInput" placeholder="Year" min="2020" max="2030"
                step="1" required>
              <label for="yearInput">Year</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a year.</div>
            </div>
            <button type="submit" class="btn btn-success btn-sm shadow rounded" style="float: right;">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div th:replace="~{fragments/user.html :: logoutModal}"></div>

  <!-- Delete a account model -->
  <div class="modal fade" id="removeAccountModal" tabindex="-1" aria-labelledby="removeAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="removeAccountModalLabel">Remove Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-danger">All account details and information
            will be deleted and will not be recovered. Are you sure you want
            to delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-success shadow rounded" data-bs-dismiss="modal">No! Don't Delete
            <i class="fas fa-fw fa-times"></i></button>
          <a class="btn btn-sm btn-danger shadow rounded ok-button">Yes! Delete <i
              class="fas fa-fw fa-trash-alt"></i></a>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
  <script th:src="@{webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
  <script th:src="@{webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
  <script th:replace="~{fragments/user.html :: needsValidation}"></script>
  <script>
    var editAccountModal = document.getElementById('editAccountModal')
    editAccountModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var id = button.getAttribute('data-bs-id')
      var name = button.getAttribute('data-bs-name')
      var description = button.getAttribute('data-bs-description')
      // Update the modal's content.

      var modelBodyId = editAccountModal.querySelector('.modal-body #accountId')
      var modalBodyName = editAccountModal.querySelector('.modal-body #nameInput')
      var modalBodyDescription = editAccountModal.querySelector('.modal-body #descriptionTextArea')

      modelBodyId.value = id
      modalBodyName.value = name
      modalBodyDescription.value = description
    });

    $("#removeAccountModal").on("show.bs.modal", function (e) {
      $(this)
        .find(".ok-button")
        .attr("href", $(e.relatedTarget).data("href"));
    });

  </script>
</body>

</html>