<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link th:href="@{webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

  <a th:href="@{/logout}">logout</a> <a th:href="@{/users}">Users</a> <a href="#" data-bs-toggle="modal"
    data-bs-target="#chamaModal"> Chama </a>

  <h3> Accounts </h3>

  <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#addAccountModal">
    Add Account
  </button>

  <div class="alert alert-danger" th:if="${fail}" th:text="${fail}">Account exists</div>
  <div class="alert alert-success" th:if="${success}" th:text="${success}">Account saved</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Balance</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="account : ${accounts}">
        <th scope="row">1</th>
        <td th:text="${account.name}">Account name</td>
        <td th:text="${account.description}">Description</td>
        <td th:text="${account.balance}">Balance</td>
        <th><a class="btn btn-primary" th:href="@{/account/{id}(id = ${account.id})}">View</a></th>
        <th><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editAccountModal"
            th:data-bs-name="${account.name}" th:data-bs-description="${account.description}"
            th:data-bs-id="${account.id}">Edit</button></th>
        <th><a class="btn btn-danger" th:href="@{/accounts/{id}(id = ${account.id})}">Delete</a></th>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->

  <!-- Add Account Modal -->
  <div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAccountModalLabel">Add Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#" th:action="@{/account/create}" th:object="${account}" method="post">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nameInput" placeholder="Account Name" th:field="*{name}">
              <label for="nameInput">Account Name</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Write Account Description here" id="descriptionTextArea"
                th:field="*{description}"></textarea>
              <label for="descriptionTextArea">Description</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Editing Account Modal -->
  <div class="modal fade" id="editAccountModal" tabindex="-1" aria-labelledby="editAccountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editAccountModalLabel">Editing Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editAccountForm" action="#" th:action="@{/accounts/update}" th:object="${account}" method="post">
            <input type="hidden" id="accountId" name="accountId">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="nameInput" placeholder="Account Name" th:field="*{name}">
              <label for="nameInput">Account Name</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" placeholder="Write Account Description here" id="descriptionTextArea"
                th:field="*{description}"></textarea>
              <label for="descriptionTextArea">Description</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Getting Chama page Modal -->
  <div class="modal fade" id="chamaModal" tabindex="-1" aria-labelledby="chamaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chamaModalLabel">Select period</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="g-3 needs-validation" action="#" th:action="@{/accounts/chama}" method="post" novalidate>
            <div class="form-floating mb-3">
              <select class="form-select" name="monthInput" id="monthInput" required>
                <option selected disabled value="">Select month...</option>
                <th:block th:each="month : ${months}">
                  <option th:text="${#strings.capitalize(#strings.toLowerCase(month))}"></option>
                </th:block>
              </select>
              <label for="monthInput">Month</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please select a month.</div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" name = "yearInput" placeholder="Year" min="2020" max="2030" step="1"
                required>
              <label for="yearInput">Year</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Please enter a year.</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
  <script th:src="@{webjars/jquery-ui/1.13.2/jquery-ui.min.js}"></script>
  <script th:src="@{webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
  <script>
    var editAccountModal = document.getElementById('editAccountModal')
    editAccountModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      var button = event.relatedTarget
      // Extract info from data-bs-* attributes
      var id = button.getAttribute('data-bs-id')
      var name = button.getAttribute('data-bs-name')
      var description = button.getAttribute('data-bs-description')
      // Update the modal's content.

      var modelBodyId = editAccountModal.querySelector('.modal-body #accountId')
      var modalBodyName = editAccountModal.querySelector('.modal-body #nameInput')
      var modalBodyDescription = editAccountModal.querySelector('.modal-body #descriptionTextArea')

      modelBodyId.value = id
      modalBodyName.value = name
      modalBodyDescription.value = description
    });

    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })();

  </script>
</body>

</html>