<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body style="background-color: #F6F4F2; color: #373833;">

    <div class="container"><br />

        <h6 th:text="${'Welcome ' + activeUser.firstName + ' ' + activeUser.secondName + ' ' + activeUser.thirdName}">
            Welcome </h6>

        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/users}">Users</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/accounts}">Accounts</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/tenants}">Tenants</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register</li>
                </ol>
            </nav>

            <div>
                <a class="btn btn-danger btn-sm shadow-sm" th:href="@{/logout}">logout</a>
            </div>
        </div>

        <!-- Error message fragment -->
        <div th:replace="~{fragments/user.html :: errorMessageFragment}"></div>

        <div class="card mb-3 shadow rounded">
            <div class="card-header text-center">
                <h4> Registration </h4>
            </div>
            <div class="card-body">
                <form class="g-3 needs-validation" style="padding-left: 10px; padding-right: 10px;" action="#"
                    th:action="@{/users/register}" th:object="${newTenant}" method="post" novalidate>
                    <th:block th:replace="~{fragments/user :: userForm}"></th:block>
                    <div class="mb-2">
                        <label for="passwordInput" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control form-control-sm" id="passwordInput"
                                th:field="*{password}" required>
                            <span class="input-group-text"> <i class="bi bi-eye-slash" id="togglePassword"></i> </span>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please provide a valid password.</div>
                            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm shadow-sm">Register</button>
                </form>
            </div>
        </div>

    </div>

    <!-- Modal -->

    <!-- Delete Modal -->
    <div th:replace="~{fragments/user.html :: logoutModal}"></div>

    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript">
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();

        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#passwordInput");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });

    </script>

</body>

</html>